<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    <meta property="og:title" content="{{ .Title }}">
    <link rel="webmention" href="https://webmention.io/tomasino.org/webmention" />
    <link rel="pingback" href="https://webmention.io/tomasino.org/xmlrpc" />
    {{ if .Summary }}
      <meta name="description" content="{{ .Summary }}">
      <meta property="og:description" content="{{ .Summary }}">
    {{ else }}
      {{ with .Site.Params.description }}
        <meta name="description" content="{{ . }}">
        <meta property="og:description" content="{{ . }}">
      {{ end }}
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta property="og:url" content="{{ .Permalink }}">
    {{ with .Site.Params.author }}<meta name="author" rel="author" class="p-author h-card" content="{{ . }}">{{ end }}
    {{ with .Site.Params.og_fedi }}<meta name="fediverse:creator" content="{{ . }}">{{ end }}
    {{- with .Site.GetPage "/" }}
      {{ range .AlternativeOutputFormats -}}{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}{{ end }}
    {{- end }}
    {{ with resources.Get "style.css" | minify }}<style>{{ .Content | safeCSS }}</style>{{ end }}
    {{ with .Params.og_image }}
      <meta property="og:image" content="{{ . | absURL }}" />
      <meta name="twitter:image" content="{{ . | absURL }}">
    {{ end }}
  </head>
  <body>
